* {
	box-sizing:border-box;
	font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;
	max-width: 100%;
	max-height: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.header{
	max-width: auto;
	background: #fff;
  	list-style-type: none;
  	overflow: hidden;
  	position: relative;
}

.header li {
  	float: left;
  	list-style-type: none;
}

.top-banner img{
    top: 20px;
	height: 126px;
	width: 454px;
	margin-left: 112px;
}
.hcld img{
	position: absolute;
    top: 24px;
    left: 46.5%;
    cursor: pointer;
	height: 89.3px;
	width: 68px;
}

/* Topmenu */
.topmenu {
	max-width: 2000px;
  	background-color: #002147;
  	padding-right: 200px;
  	padding-left: 12%;
  	position: relative;
	height: 26.5px;
}


.topmenu ul{
	max-width: 1020px;	
	margin-left: 15%;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}

.topmenu li {
	margin: 1px;
  	float: left;
}
    
/* Topmenu */

.menu1 {
	padding-right: 10px;
	border-right: 1px solid #253147;
}

.search-container{
	height: 30px;
	width: 184px;
	float: right;
	margin-top: 29px;
	border-radius: 15px;
	border: 1px solid #c4c8ce;
	padding: 3px;
	margin-left: 295px;
}

.search-container input{
	border: none;
	float: left;
	margin-left: 10px;
	background: none;
	width: 130px;
}
.search-container button{
	border: none;
	background: none;
	color: grey;
	float: right;	
	cursor: pointer;
}

.images {
	margin-left: 35px;
}

.images div {
	height: 140.094px;
	width: 233.500px;
	float: left;
	margin-right: 5px;
	border: 0.7px solid;
	border-color: rgba(221,221,221);
	color: grey;
}

.images div img{
	width: 100%;
}

#body{
	max-width: 1020px;
	margin: auto;
}

.image1{    
    height: 200px;
	margin: 60px 0 40px 35px;
	float: left;
	border-radius: 3%;
}

#text1{
	width: 563.406px;
	float: left;
	margin-left: 50px;
	text-align: justify;
	font-size: 14px;
}

#title1{
	font-size: 22px;
}

#title1 a{
	color: blue;
	text-decoration: none;
}

#title1 a:hover{
	color: blue;
}

#main-content{
	padding-top: 10px;
	padding-left: 30px;
}

.pane-title1 {
	line-height: 28px;
    color: #555;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    padding: 0 0 0 53px;
    clear: both;
    font-weight: bold;
    display: block;
    font-size: 18px;
}

.content1{
	float: left;
	width: 305px;
	height: 598px;
	border:1px solid #d8d8d8; 
	-moz-box-shadow: 6px 6px #d8d8d8;
    -webkit-box-shadow: 6px 6px #d8d8d8;
    box-shadow: 6px 6px #d8d8d8;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 50px;
}


.thang {
	position: absolute;
    top: 1950px;
    font-size: 12px;
    color: #FFF;
    background: #009ED8;
    width: 65px;
    height: 33px;
    padding-top: 4px;
    text-align: center;
}

.ngay {
    position: absolute;
    top: 1974px;
    font-size: 18px;
    font-weight: bold;
    background: #E7F6F3;
    width: 65px;
    text-align: center;
    height: 26px;
    padding-top: 2px;
}


.thang1 {
	position: absolute;
    top: 1262px;
    font-size: 12px;
    color: #FFF;
    background: #009ED8;
    width: 65px;
    height: 33px;
    padding-top: 4px;
    text-align: center;
}

.ngay1 {
    position: absolute;
    top: 1286px;
    font-size: 18px;
    font-weight: bold;
    background: #E7F6F3;
    width: 65px;
    text-align: center;
    height: 26px;
    padding-top: 2px;
}
.content1 ul{
	padding: 0px;
	list-style-type: none;
}

.content1 ul li a{
	color: #333;
	text-align: left;
	list-style-type: none;
}

.content1 button{
	margin-top: 10px;
}


.content1 ul li a:hover{
	color: blue;
}

.content1 img{
	width: 100%
}

.content1 ul li a:before {
	margin-left: 10px;
	content: "\f105"; 	
	font-family: FontAwesome;					/*Tạo ">" */
	float: left;
  margin-top: 5px !important;
  display: block;
  font-size: 14px !important;
}

.top-title {
	padding: 10px;
}



.midle-title {
	padding: 10px;
	text-align: justify;
	color: #666;
	    font-size: 14px;
}

.bottom-link a{
	    padding: 10px 10px 0 10px;
}

.header-content{
	color: #555;
	text-decoration: none;
}

.header-content:hover{
	color: #555;
	text-decoration: underline;
}

#foot{
	color: white;
	margin: auto;
	float: left;
	width: 100%;
	background: #103157;
}

#F2 {
	margin: auto;
	width: 1020px;
}

#foot1{
	float: left;
	margin-right: 20px;
	text-align: justify;
	padding: 10px 0 10px 30px;
	font-size: 14px;

}

#foot1 img{
	width: 374.135px;
}

.p1 {
	width: 374.135px!important;
    margin: 5px 0 3px 0;
	display: block;
}

.p2 {
	width: 374.135px!important;
	margin-bottom: 2px;
	font-size: 13px;
}

#foot2{
	float: left;
	width: 280px;
	padding: 10px;
	margin-right: 20px;
}

#foot2,#foot3 strong {
	font-size: 18px;
	font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;
}

#foot3 li strong {
	line-height: 22px;
	font-size: 14px;
}

#foot3 li {
	line-height: 22px;
	font-size: 14px;
}

.line {
	margin-right: 80%;
    border-bottom: 2.5px solid #089AB9;
}

.line ul i {
	float: left;
	    position: absolute;
}

#foot2 ul{
	padding: 0px;
	list-style-type: none;
}

#foot2 button{
	margin-top: 10px;
}

#foot2 ul li{
	width: 100%;
	padding: 0px;
	margin:0px;
	border-bottom: 1px dashed rgba(255,255,255,0.2);
}


#foot2 ul li a:before{
	content: "\f105"; 	
	font-family: FontAwesome;
	margin-right: 5px;
}	
#foot2 ul li a{
	font-size: 14px;
	color: white;
	text-align: left;	
}

#foot3{
	float: left;
	width: 200px;
	padding: 10px;
}

#foot3 ul{
	padding: 0px;
	list-style-type: none;
}

#foot3 button{
	margin-top: 10px;
}

#foot3 ul li{
	padding: 0px;
}

#foot3 ul li a{
	font-size: 16px;
	color: white;
	text-align: left;
}

.map {
	padding: 10px 0 10px 0;
}

footer{
	position: relative;
	float: right;
	background: #002147;
	width: 100%;
	height: 68px;
	color: white;
	padding: 10px 0px 10px 0;
}

.bottom-social {
	position: absolute;
    bottom: 0%;
    z-index: 1;
    padding-bottom: 20px;
}
.bottom-social ul li {
	margin-right: 4px;
}

.bottom-social ul li a { 
	border: 1px;
 	border-color: rgba(white,0.5);
}

.content-bottom ul{
	margin-left: 900px;
	position: relative;
}


.content-bottom li{
	float: left;
	list-style-type: none;
  	overflow: hidden;
  	font-size: 26px;
  	width: 37px;
  	height: 37px;
  	color: #fff;
  	border: 1px solid rgba(255,255,255,0.05);
  	text-align: center;
  	transition: all 500ms cubic-bezier(0.4, 0, 1, 1) 0s;
}

.copyright{
	margin: 15px 0 5px 156px;
	height: 22px;
	width: 625.1px;  
	font-size: 13.8px;  
}

#imgtop{
	width: 13%;
	position: fixed;
  top: 0px;
  right: 0px;
}

.button{
	width: 100px;
	height: 30px;
	background: #009ed8;
	color: #fff;
	border: none;
}


/* Top menu*/
.phone-mail {
	padding: 1px 0 0 5px;
	float: left;
	position: absolute;
	color: #666!important;
}

.co {
	float: right;
	padding-top: 1px;
	margin-right: -48px;
}

.topmenu1{
	float: right;
	padding: 1px 0 0 5px;
	border-right: 1px solid #253147;
}

.ads-right a{
	z-index: 3;
	width: 152.667px;
	height: 152.667px;
	position: fixed;
  	top: 0%;
  	right: 0px;
}

.search-container {
	position: absolute;
}

.content-right li{
  list-style-type: none;
  overflow: hidden;
  font-size: 26px;
  height: 40px;
  width: 40px;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.05);
  transition: all 500ms cubic-bezier(0.4, 0, 1, 1) 0s;
  position: relative;
}

.content-right ul li i {
	display: block !important;
  list-style-type: disc;
}

.right-social {
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 1;
}

.cb1-btn{
	position: relative;
    background-color: #4867AA;
    padding: 20px 12px;
    font-size: 15px;
}

.cb2-btn{
	background-color: #1DA1F2;
    padding: 20px 12px;
    text-align: center;
    font-size: 15px;
}

.cb3-btn{
	background-color: #CC2127;
    padding: 20px 12px;
    font-size: 15px;
}

.cb4-btn {
	background-color: #DC4A38;
    padding: 20px 12px;
    font-size: 15px;
}

.fb-btn{
	z-index: 0;
    background-color: #4867AA;
    height: 40px;
    width: 40px;
    padding: 8px 3px;
    font-size: 25px;
}

.yt-btn{
	background-color: #CC2127;
    height: 40px;
    width: 40px;
    padding: 8px 3px;
    font-size: 25px;
}

.arr-btn {
	background-color: #009ED8;
    height: 40px;
    width: 40px;
    padding: 8px 3px;
    font-size: 25px;
}



li a {
	font-size: 13px;
	font-family: Roboto, Helvetica, sans-serif;	
  	color: white;
  	text-align: center;
  	padding: 14px 5px;
  	text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  padding-right: 13%;
  padding-left: 13%;
  font-size: 18px;
}


.navbar, .navbar div {
	font-weight: bold;
	max-width: 100%;
	margin:auto;
  	overflow: hidden;
  	background-color: #009ed8;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
  color: #009ed8;
}


.navbar a {
  float: left;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;  
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}



.dropdown-content {
  font-weight: lighter!important;
  display: none;
  position: absolute;
  background-color: #f9f9f9!important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 0.5
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*************/

/* Slideshow container */
.slideshow-container {
	position: relative;
  max-width: 948px;
  margin-left: 35px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: none;
  color: blue;
}

.prev:before{
	font-family: "flexslider-icon";
    font-size: 40px;
    line-height: 1;
    display: inline-block;
    content: '\f001';
}

.next:before {
	font-family: "flexslider-icon";
    font-size: 40px;
    line-height: 1;
    display: inline-block;
    content: '\f002';
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@font-face {
  font-family: 'flexslider-icon';
  src: url('../plugin/flexslider-icon.eot');
  src: url('../plugin/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../plugin/flexslider-icon.woff') format('woff'), url('../plugin/flexslider-icon.ttf') format('truetype'), url('../plugin/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*nav*/

.dao-tao {
  padding-left: 0!important;
  list-style-type: none!important;
}

.dao-tao2 { 
  z-index: 2;
  float: left;
  background-color: white!important;
}

.dao-tao1 {
  z-index: 2;
  float: left;
  background-color: white!important;
}

.dao-tao3 {
  z-index: 2;
  background-color: white!important;
}






